$font-color: #fff9e5;
$hover-color: #ffa200;

#landing-navbar {
  width: 100vw;
}

#landing-navbar .navbar-brand {
  color: $font-color;
  background-color: transparent;
}

#landing-navbar {
  font-size: 14px;
  background-color: transparent;
  border-bottom-width: 1px;
}

#landing-navbar .navbar-nav > li > a {
  color: $font-color;
  background-color: transparent;
}

#landing-navbar .navbar-nav > li > a:hover,
#landing-navbar .navbar-nav > li > a:focus {
  color: $hover-color;
  background-color: transparent;
}

#landing-navbar .navbar-nav > .active > a,
#landing-navbar .navbar-nav > .active > a:hover,
#landing-navbar .navbar-nav > .active > a:focus {
  color: $font-color;
  background-color: transparent;
}

#landing-navbar .navbar-toggle {
  border-color: transparent;
}

#landing-navbar .navbar-toggle:hover,
#landing-navbar .navbar-toggle:focus {
  background-color: transparent;
}

#landing-navbar .navbar-toggle .icon-bar {
  background-color: transparent;
}

#landing-navbar .navbar-toggle:hover .icon-bar,
#landing-navbar .navbar-toggle:focus .icon-bar {
  background-color: transparent;
}

