<div class="tree-node tree-node-content texttopic"
     ng-class="{topicselected: selectedNode.class === node.class, titlestyling: node.isTitle}">
  {{node.topic}}
</div>

<ol ui-tree-nodes ng-model="node.paragraphs" style="padding-left: 0">

  <li ng-repeat="paragraph in node.paragraphs track by $index"
      ng-click="selectParagraph(paragraph); paragraph.cursor = false;"
      ng-mouseover="paragraph.mouseOver = true"
      ng-mouseleave="paragraph.mouseOver = false;"
      class="tree-node tree-node-content paragraph"
      ng-class="{paragraphcursor: paragraph.cursor === true, paragraphoffcursor: paragraph.cursor === false}">

    <div>
      <ol ui-tree-nodes ng-model="paragraph.propositions" class="propositions">
        <li ng-repeat="proposition in paragraph.propositions track by $index"
            ng-mouseover="proposition.preSelected = true;"
            ng-mouseleave="proposition.preSelected = false;"
            ui-tree-node
            ng-click="selectProposition(proposition); selectedProposition.textSide = true; selectedProposition.dialogueSide = false;"
            ng-if="proposition.hidden !== true && !proposition.rejoined && proposition[userId] !== 'hidden'"
            class="proposition">

          <span event-focus="click"
                ng-class="{ 'rejoinder': proposition.type === 'rejoinder',
                            'negation': proposition.type === 'negation',
                            'underline': mousedOverProposition.id === proposition.id,
                            'highlight': highlight.id === proposition.id,
                            'dim': highlight.id !== proposition.id,
                            'notowned': proposition.author !== userId && options.dimNotOwned,
                            'owned': proposition.author === userId && options.highlightOwned,
                            'mark': mark.id === proposition.id
                          }"
                ng-mouseover="mouseOver(proposition)"
                ng-mouseleave="mouseLeave(proposition)"
                event-focus-id="{{proposition.id}}"
                class="proposition-text">{{proposition.text}}</span>

          <textarea id="{{proposition.id}}"
                    title="{{proposition.id}}"
                    class="right-textarea"
                    ng-if="selectedProposition.id === proposition.id"
                    ng-model="inputs.proposition"
                    ng-keyup="$event.keyCode === 13 && selectedProposition.dialogueSide != true ? prepProposition(inputs.proposition) : inputs.nothing; ($event.keyCode === 8 && mark.id === proposition.id && mark.marked === true) ? deleteProposition() : inputs.nothing; ($event.keyCode === 8 && highlight.id === proposition.id && highlight.highlit === true) ? markProposition(proposition) : inputs.nothing; (inputs.proposition === '' && $event.keyCode === 8 && (userId === proposition.author || (proposition.type !== 'negation' && proposition.of.author === userId))) ? highlightProposition(proposition) : inputs.nothing; "
                    spellcheck="false"></textarea>

          <span class="right-text" ng-if="selectedProposition.id === proposition.id" ng-class="{'negation': inputs.proposition.charAt(input.length - 1) === '!'}">
              {{inputs.proposition}}
            </span>

          <span ng-if="selectedProposition.id === proposition.id && selectedProposition.textSide === true;"
                class="cursor blinking-cursor"></span>
          <span ng-if="proposition.preSelected === true && selectedProposition.id !== proposition.id"
                class="cursor solid-cursor"></span>
        </li>
      </ol>
    </div>
  </li>
</ol>

<ol ui-tree-nodes ng-model="node.children"
    style="list-style-type: none; list-style: none; padding-left: 10px"
    class="angular-ui-tree-nodes">
  <li ng-repeat="node in node.children" style=""
      ui-tree-node ng-include="'./app/editor/views/text_renderer.html'"
      ng-click="selectNode(node); $event.stopPropagation();"></li>
</ol>
<!-- 'data' is an array of class objects
	on these objects are class letter and topic
	'paragraphs' is an array of proposition objects
		on these objects are id, author, text, and position
	also in these objects are nodes
		'nodes' is an array of class objects

this renderer should contain the recipe for a node

paragraphs are stored on the node,
and propositions are stored in paragraphs
so they should be able to be printed with nested ng-repeats

nodes cannot be represented simply with ng-repeats. we
would need a new nesting for each level of node

paragraphs and the propositions within them do not have further
complexity, hence they have no new levels -->
