.top-padding {
  padding-top: 20px;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;

  background: #6d4c41;
  color: #fff;
  transition: all 0.3s;

  .active {
    margin-left: -250px;
  }

  .sidebar-header {
    padding: 20px;
    background: #40241a;
  }

  ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #40241a;
  }

  ul p {
    color: #fff;
    padding: 10px;
  }

  ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    color: #fff
  }

  ul li a:hover {
    color: #fff;
    text-decoration: none;
    background: #9c786c;
  }

  ul li.active > a, a[aria-expanded="true"] {
    color: #6d4c41;
    background: #fff;
  }
}

ul ul a {
  padding-left: 30px !important;
  background: #fff;
}

ul.sidebar-button-group {
  padding: 20px;

  li > button.btn {
    background-color: #a5837b;
    text-align: center;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
  }
}

@media(max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }
}
