<div class="wrapper">

  <!-- sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Notional Documents</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a ui-sref="main.backoffice.my-books"
           href="#">My Books</a>
      </li>
      <li>
        <a ui-sref="main.backoffice.library"
           href="#">Library</a>
      </li>
      <li>
        <a ui-sref="main.backoffice.profile"
           href="#">Profile</a>
      </li>
    </ul>
    <ul class="list-unstyled sidebar-button-group">
      <li>
        <button class="btn btn-block" ng-click="vm.addBookPressed()"><i class="fa fa-plus"></i>&nbsp; Add Book</button>
      </li>
      <li>
        <button class="btn btn-block" ng-click="vm.logoutPressed()"><i class="fa fa-logout"></i>&nbsp; Logout</button>
      </li>
    </ul>
  </nav>

  <!-- content -->
  <div class="container top-padding">
    <ui-view></ui-view>
  </div>
</div>
