<div
  class="tree-node tree-node-content texttopic"
  ng-class="{
    topicselected: selectedNode.class === node.class,
    titlestyling: node.isTitle,
    openfield: data[0].paragraphs[0].propositions[0].author === '',
  }"
  
  ng-mouseover="node.mouseOver = true;"
  ng-mouseleave="node.mouseOver = false;"
  ng-click="[toggleNode(node), stopNgClick()]">
  
  {{node.topic}}
  <span ng-if="node.mouseOver && node.minimized"
        style="padding-right: 10px">+</span>
  <span ng-if="node.mouseOver && !node.minimized"
        style="padding-right: 10px">-</span>
</div>
<ol ui-tree-nodes
    ng-if="!node.minimized"
    ng-model="node.paragraphs"
    style="padding-left: 0"
    ng-mouseover="[lightUpLastVisiblePropositionInNode(node, $event), $event.stopPropagation()]"
    ng-mouseleave="[blurLightUpLastVisiblePropositionInNode(node, $event), $event.stopPropagation()]"
    ng-click="[getLastVisiblePropositionInNode(node, $event), $event.stopPropagation()]">

    <!-- | orderBy:paragraphSorter -->
  <li ng-repeat="paragraph in node.paragraphs | orderBy:paragraphSorter"
      ng-click="[clearThreadAdding(), paragraph.cursor = false, selectedProposition.dialogueSide = false, selectedParagraph = paragraph]"
      id="paragraph{{paragraph.paragraphId}}"
      ng-mouseover="paragraph.mouseOver = true;"
      ng-mouseleave="[paragraph.mouseOver = false, paragraph.leftMouseOver = false]"
      class="tree-node tree-node-content paragraph"
      ng-if="paragraph[userId] !== 'hidden' && paragraph.hiddenForAll !== true || (paragraph.privateFor && paragraph.privateFor === userId && !paragraph.hiddenForAll)"
      
      ng-style="{'background-color': paragraph.color}"
      ng-class="{ paragraphcursor: paragraph.cursor === true,
                  paragraphoffcursor: paragraph.cursor === false,
                  topspacer: !$paragraph.first || paragraph.propositions[0].type === 'blank' || hasTopFocus === paragraph.paragraphId && cowsComeHome
                }">{{paragraph.paragraphId}}
       
               
    <div class="topparagraphadder"
         ng-class="{'blackline': paragraph.topMouseOver === true}"
         ng-mouseover="paragraph.topMouseOver = true; paragraph.bottomMouseOver = false"
         ng-mouseleave="paragraph.topMouseOver = false"
         ng-if="paragraph.first && !paragraph.topAdd && paragraph.owner"
         ng-click="[clearBlankOnBlur(),
                    hideExpandingTextarea(),
                    selectParagraph(paragraph),
                    selectNode(node),
                    clearTopAndBottomHasFocus(),
                    clearWithTopAdder(paragraph),
                   selectedParagraph.highlightAll = false,
                   selectedParagraph.markAll = false,
                   clearPropositionInput(),
                   paragraph.topMouseOver = false,
                   paragraph.topAdd = true,
                   paragraph.bottomAdd = false,
                   paragraph.leftAdd = false,
                   clearEditable(),
                   ]"
         event-focus="click"
         event-focus-id="{{topAdderId}}">
    </div>

    <div ng-if="hasTopFocus == paragraph.paragraphId"
         class="paragraph addparagraph"
         ng-class="" style="">
      <div class="proposition">

        <span
          editable-span-ng-model
          ng-class=""
          contenteditable="true"
          id="{{topAdderId}}"
          title="{{paragraph.topAdderId}}"
          class="right-textarea"
          ng-click="$event.stopPropagation()"
          placeholder="textarea"
          ng-model="inputs.proposition"
          ng-keyup="$event.keyCode === 13 &&
                            selectedProposition.dialogueSide != true ? [$event.preventDefault(), proposition.propositionPreSelected = false, prepProposition(inputs.proposition, thread,paragraph)] : inputs.nothing;
                            (inputs.proposition === '' && $event.keyCode === 8) ? [$event.preventDefault(), paragraph.topAdd = false] : inputs.nothing;"
                  spellcheck="false"
                  style="color: black; padding-left: 12px; background-color: white"
                  >
        </span>
      </div>
    </div>
    <div>
      <ol ui-tree-nodes
          ng-model="paragraph.propositions"
          class="propositions"
          ng-mouseover="[lightUpLastVisiblePropositionInParagraph(node, paragraph, $event), $event.stopPropagation()]"
          ng-mouseleave="[blurLightUpLastVisiblePropositionInParagraph(node, paragraph, $event), $event.stopPropagation()]"
          ng-class="{'addbelownotowned': hasBottomFocus.id == paragraph.paragraphId && paragraph.owner !== userId && paragraph.owner !== ''}"
          ng-click="[threadAdding ? hideThreadAdd() : inputs.nothing, hideExpandingTextarea(), getLastVisiblePropositionInParagraph(node, paragraph, $event), $event.stopPropagation()]" style="padding-left: 1px">
        <li ng-repeat="proposition in paragraph.propositions track by $index"
            ui-tree-node
            ng-init="findFirstProposition(paragraph, proposition.id) ? proposition.first = true : proposition.first = false; proposition.first ? paragraph.owner = paragraph.propositions[$index].author : inputs.nothing; "
            ng-mouseover="proposition.preSelected = true;"
            ng-mouseleave="[proposition.preSelected = false]"
            ng-click="[hideExpandingTextarea(), selectedProposition.textSide = true, selectNode(node), 

                      selectLeft(proposition, paragraph)]"
            ng-if="(!proposition.hiddenForAll && !proposition.rejoined && proposition[userId] !== 'hidden') || (proposition.privateFor && proposition.privateFor === userId)"
            class="proposition">
          
          <span class="leftpropositionadder"
                ng-mouseover="paragraph.owner === userId ? [paragraph.leftMouseOver = true, paragraph.topMouseOver = false, paragraph.bottomMouseOver = false, paragraph.disableRightCursor = true] : inputs.notting"
                ng-mouseleave="[paragraph.leftMouseOver = false, paragraph.disableRightCursor = false]"
                event-focus="click"
                ng-click="paragraph.owner === userId ? [
                  clearWithLeftAdder(),
                  clearPropositionInput(),
                  clearBlankOnBlur(),
                  paragraph.topAdd = false,
                  paragraph.bottomAdd = false,
                  paragraph.leftAdd = true,
                  paragraph.leftMouseOver = false,
                  selectParagraph(paragraph),
                  selectedParagraph.highlightAll = false,
                  selectedParagraph.markAll = false,
                  clearEditable()
                  ] : inputs.notting"
                event-focus-id="{{leftAdderId}}"
                ng-if="proposition.first"
                >

            </span>
          </span>
      
            <span 
                      editable-span-ng-model
                      contenteditable="true"
                      id="{{leftAdderId}}"
                      class="right-textarea right-text left-text"
                      ng-mouseover="paragraph.disableRightCursor = true"
                      ng-mouseleave="paragraph.disableRightCursor = false"
                      placeholder="textarea"
                      ng-model="inputs.proposition"
                      ng-keyup="$event.keyCode === 13 && selectedProposition.dialogueSide !== true ? [proposition.propositionPreSelected = false, prepProposition(inputs.proposition, thread, paragraph)] : inputs.nothing;
                      (inputs.proposition === '' && $event.keyCode === 8) ? inputs.nothing : inputs.nothing;"
                      spellcheck="false"
                      style="color: black; padding-left: 1px;"
                      ng-if="selectedProposition.id === proposition.id && paragraph.leftAdd == true && proposition.first"
                      >
            </span>
            <span ng-mouseover="paragraph.owner === userId ? paragraph.leftMouseOver = true : inputs.notting" 
                  ng-mouseleave="paragraph.leftMouseOver = false"
                  event-focus="click"
                  ng-click="paragraph.owner === userId ? [
                    clearWithLeftAdder(),
                    clearPropositionInput(),
                    paragraph.topAdd = false,
                    paragraph.bottomAdd = false,
                    paragraph.leftAdd = true,
                    paragraph.leftMouseOver = false,
                    paragraph.disableRightCursor = true,
                    selectedParagraph.highlightAll = false,
                    selectedParagraph.markAll = false,
                    selectParagraph(paragraph),
                    clearEditable()
                  ] : inputs.nothing"
                  event-focus-id="{{leftAdderId}}"
                  ng-class="{'visible-cursor': paragraph.leftMouseOver && proposition.preSelected && proposition.first && !paragraph.leftAdd,
                             'invisible-cursor': !paragraph.leftMouseOver || !proposition.preSelected|| !proposition.first}"
                  ng-if="proposition.first"
                  class="cursor left-cursor">
            </span>

          <span 

                id="proposition{{proposition.id}}"
                style=""
                ng-class="{ 'rejoinder': proposition.type === 'rejoinder',
                            'negation': proposition.type === 'negation',
                            'highlight': highlight.id === proposition.id || (selectedParagraph.highlightAll == true && selectedParagraph.paragraphId === paragraph.paragraphId),
                            'mark': mark.id === proposition.id || (selectedParagraph.markAll == true && selectedParagraph.paragraphId === paragraph.paragraphId),
                            'owned-cursor': proposition.author === userId || (proposition.type === 'negation' && proposition.of.author === userId), 
                            'textcursor': whatHasBeenClicked == proposition.id,
                            'rejoining': hasRightFocus === proposition.id && !selectedProposition.dialogueSide && proposition.type === 'negation' && proposition.of.author === userId,
                            'updatecursor': this.contentEditable,
                            'cursorpointer': (proposition.type !== 'negation' && proposition.of.author !== userId)
                          }"
                ng-enter="[proposition.propositionPreSelected = false, updateProposition(node, paragraph, proposition)]"
                ng-mouseover="[blurLightUpLastVisiblePropositionInParagraph(node, paragraph, $event),proposition.propositionPreSelected = true, paragraph.disableRightCursor = false]"
                ng-mouseleave="proposition.propositionPreSelected = false;"
                ng-blur=""
                
                ng-click="
                
                    (proposition.author === userId && proposition.type !== 'negation' && selectedProposition.textSide)
                    ?  [ 
                         clearBlankOnBlur(),
                         mark.id = '',
                         highlight.id = '',
                         selectNode(node),
                         selectParagraph(paragraph),
                         selectedParagraph = paragraph,
                         paragraph.topAdd = false,
                         paragraph.bottomAdd = false,
                         paragraph.leftAdd = false,
                         paragraph.disableRightCursor = true,
                         clearTopAndBottomHasFocus(),
                         hasRightFocus.id = proposition.id,
                         listenForDoubleClick(this, paragraph, proposition),
                       ]
                    :  ( (proposition.type !== 'negation' && proposition.author !== userId && whatHasBeenClicked !== proposition.id) ||
                        (proposition.type === 'negation' && proposition.of.author === userId || proposition.author === userId)
                       )
                          ? [
                            clearBlankOnBlur(proposition),
                            hideExpandingTextarea(),
                            selectNode(node),
                            selectParagraph(paragraph),
                            selectProposition(proposition),
                            selectedParagraph.highlightAll = false,
                            selectedParagraph.markAll = false,
                            mark.id = '',
                            highlight.id = '',
                            selectedProposition.textSide = true,
                            paragraph.topAdd = false,
                            paragraph.bottomAdd = false,
                            paragraph.leftAdd = false,
                            paragraph.disableRightCursor = true,
                            selectRight(proposition),
                            hasRightFocus.id = proposition.id,
                            selectedProposition.dialogueSide = false,
                            $event.stopPropagation()
                            ]
                          : inputs.nothing"
                class="proposition-text"
                ng-blur="[focusouteditable(this), paragraph.disableRightCursor = false]"
                
                >
            {{proposition.text}}
          </span>
          <span
            editable-span-ng-model
            id="{{proposition.id}}"
            title="{{proposition.id}}"
            class="right-text right-textarea maininput"
            ng-if="selectedProposition.id === proposition.id && paragraph.topAdd != true && paragraph.bottomAdd != true && paragraph.leftAdd != true"
            ng-class="{'negation': (!proposition.leftAdd && selectedProposition.type !== 'blank' && selectedProposition.type !== 'negation' && selectedProposition.author !== userId)}"
            ng-click="[assignRightFocus(proposition), paragraph.disableRightCursor = true, hasRightFocus.id = proposition.id ]"
            ng-mouseover="paragraph.disableRightCursor = false"
            ng-model="inputs.proposition"
            ng-keyup="
                $event.keyCode === 13 && selectedProposition.dialogueSide != true && inputs.proposition === '' ? [$event.preventDefault(), carriageReturn(node, paragraph)] : inputs.nothing;
                $event.keyCode === 13 && selectedProposition.dialogueSide != true && inputs.proposition != '' ? [$event.preventDefault(), proposition.propositionPreSelected = false, paragraph.disableRightCursor = false, prepProposition(inputs.proposition, thread, paragraph)] : inputs.nothing;
                (($event.keyCode === 8 && mark.id === proposition.id && mark.marked === true && selectedProposition.author === userId) || ($event.keyCode === 8 && inputs.proposition === '' && selectedProposition.type === 'blank')) ? deleteProposition(node, paragraph, false) : inputs.nothing;
                ($event.keyCode === 8 && highlight.id === proposition.id && highlight.highlit === true) ? markProposition(proposition) : inputs.nothing;
                (inputs.proposition === '' && $event.keyCode === 8 && paragraph.owner === userId && proposition.type !== 'blank') ? highlightProposition(node, paragraph, proposition) : inputs.nothing;
                ($event.keyCode === 8 && selectedParagraph.markAll == true) ? deleteProposition(node, paragraph, true) : inputs.nothing;
                ($event.keyCode === 8 && selectedParagraph.highlightAll == true) ? markAllPropositions(proposition) : inputs.notting;
                (inputs.proposition === '' && $event.keyCode === 8 && selectedProposition.type !== 'blank' && paragraph.owner !== userId) ? highlightAllPropositions(node, paragraph, proposition) : inputs.nothing;"
            spellcheck="false"
            contenteditable="true"
            style="color: black;"
            ng-blur="this.contentEditable = true; ">
              </span>

              <!-- Need focus variables for left and right -->
              
          <span class="cursor"
                ng-class="{'visible-cursor': ((proposition.preSelected && !paragraph.leftMouseOver && !paragraph.disableRightCursor && hasRightFocus.id !== proposition.id)),
                           'invisible-cursor': !proposition.preSelected || paragraph.leftMouseOver || paragraph.disableRightCursor || hasRightFocus.id === proposition.id}"

                ng-click="[clearBlankOnBlur(), selectProposition(proposition), paragraph.disableRightCursor = true, selectedProposition.textSide = true, paragraph.topAdd = false, paragraph.bottomAdd = false, paragraph.leftAdd = false]"
                event-focus="click"
                event-focus-id="{{proposition.id}}"></span>

        </li>
      </ol>
    </div>
    <div ng-if="paragraph.bottomAdd == true && hasBottomFocus.id === paragraph.paragraphId"
         class="paragraph addparagraph"
         ng-class=""
         style="padding-top: 6px;">
      <div class="proposition">
<!--         <span class="proposition-text">
        </span> -->
<!--         <span 
              ng-if="paragraph.bottomAdd && hasBottomFocus == paragraph.paragraphId"
              class="cursor invisible-cursor"
              >
        </span> -->
<!--         <span class="cursor invisible-cursor">
        </span> -->
        <span 
                  ng-class=""
                  editable-span-ng-model
                  contenteditable="true"
                  id="{{paragraph.paragraphId}}"
                  title="{{paragraph.paragraphId}}"
                  class="right-textarea right-text"
                  ng-click="$event.stopPropagation()"
                  placeholder="textarea"
                  ng-model="inputs.proposition"
                  ng-keyup="$event.keyCode === 13 && selectedProposition.dialogueSide != true && inputs.proposition != '' ? [$event.preventDefault(), proposition.propositionPreSelected = false, prepProposition(inputs.proposition, thread, paragraph)] : inputs.nothing;  (inputs.proposition === '' && $event.keyCode === 8) ? [$event.preventDefault(), reverseCarriageReturn(node, paragraph), paragraph.topAdd = false] : inputs.nothing;"
                  spellcheck="false"
                  style="color: black; padding-left: 12px; background-color: white"
                  ></span>
      </div>
    </div>
    <div class="bottomparagraphadder"
         ng-class="{'blackline': paragraph.bottomMouseOver === true}"
         ng-mouseover="paragraph.bottomMouseOver = true; paragraph.topMouseOver = false"
         ng-mouseleave="paragraph.bottomMouseOver = false"
         ng-click="[didItRun(), clearBlankOnBlur(), selectParagraph(paragraph),
                    selectNode(node), clearTopAndBottomHasFocus(), selectedParagraph.highlightAll = false, selectedParagraph.markAll = false, clearPropositionInput(), paragraph.bottomMouseOver = false, paragraph.topAdd = false, clearEditable(), clearWithBottomAdder(paragraph)]"
         
         ng-if="paragraph.owner && hasBottomFocus.id !== paragraph.paragraphId"
         id="{{paragraph.paragraphId}}"
         
         >
    </div>
  </li>
</ol>

<!-- sub-nodes -->
<ol ui-tree-nodes
    ng-model="node.children"
    style="list-style-type: none; list-style: none; padding-left: 10px"
    class="angular-ui-tree-nodes">
  <li ng-repeat="node in node.children"
      ui-tree-node
      ng-click="selectNode(node); $event.stopPropagation();"
      id="{{node.nodeId}}">
    <nd-editor-text-renderer></nd-editor-text-renderer>
  </li>
</ol>

