<div
  class="tree-node tree-node-content texttopic"
  ng-class="{
    topicselected: selectedNode.class === node.class,
    titlestyling: node.isTitle,
    openfield: data[0].paragraphs[0].propositions[0].author === '',
  }"
  ng-click="stopNgClick()">
  {{node.topic}}
</div>
<ol ui-tree-nodes
    ng-model="node.paragraphs"
    style="padding-left: 0">
    <!-- | orderBy:paragraphSorter -->
  <li ng-repeat="paragraph in node.paragraphs"
      ng-click="[clearThreadAdding(), selectParagraph(paragraph), paragraph.cursor = false, selectedProposition.dialogueSide = false]"
      ng-mouseover="paragraph.mouseOver = true;"
      ng-mouseleave="[paragraph.mouseOver = false, paragraph.leftMouseOver = false]"
      class="tree-node tree-node-content paragraph"
      ng-if="paragraph[userId] !== 'hidden'"
      ng-style="{'background-color': paragraph.color}"
      ng-class="{ paragraphcursor: paragraph.cursor === true,
                  paragraphoffcursor: paragraph.cursor === false,
                }"><!-- {{paragraph.color}} -->
                 
               
    <div class="topparagraphadder"
         ng-class="{'blackline': paragraph.topMouseOver === true}"
         ng-mouseover="paragraph.topMouseOver = true; paragraph.bottomMouseOver = false"
         ng-mouseleave="paragraph.topMouseOver = false"
         ng-if="$first && paragraph.propositions[0].type !== 'blank' && hasTopFocus != paragraph.paragraphId"
         ng-click="[hideExpandingTextarea(),
                    selectParagraph(paragraph),
                    selectNode(node),
                    clearTopAndBottomHasFocus(),
                    clearWithTopAdder(paragraph),
                   selectedParagraph.highlightAll = false,
                   selectedParagraph.markAll = false,
                   clearPropositionInput(),
                   paragraph.topMouseOver = false,
                   paragraph.topAdd = true,
                   paragraph.bottomAdd = false,
                   paragraph.leftAdd = false,
                   clearEditable(),
                   ]"
         event-focus="click"
         event-focus-id="{{topAdderId}}">
    </div>

    <div ng-if="hasTopFocus == paragraph.paragraphId"
         class="paragraph addparagraph"
         ng-class="" style="">
      <div class="proposition">
      <!--   <span class="proposition-text"></span> -->
<!--         <span 
              ng-if="hasTopFocus == paragraph.paragraphId"
              class="cursor invisible-cursor"
              >
        </span> -->
<!--         <span class="cursor invisible-cursor">
        </span> -->
        <span
          editable-span-ng-model
          ng-class=""
          contenteditable="true"
          id="{{topAdderId}}"
          title="{{paragraph.topAdderId}}"
          class="right-textarea"
          placeholder="textarea"
          ng-model="inputs.proposition"
          ng-keyup="$event.keyCode === 13 &&
                            selectedProposition.dialogueSide != true ? [proposition.propositionPreSelected = false, prepProposition(inputs.proposition, thread,paragraph)] : inputs.nothing;
                            (inputs.proposition === '' && $event.keyCode === 8) ? paragraph.topAdd = false : inputs.nothing;"
                  spellcheck="false"
                  style="color: black; padding-left: 12px; background-color: white"
                  >
        </span>
      </div>
    </div>
    <div>
      <ol ui-tree-nodes
          ng-model="paragraph.propositions"
          class="propositions"
          ng-class="{'addbelownotowned': hasBottomFocus == paragraph.paragraphId && paragraph.owner !== userId && paragraph.owner !== ''}"
          ng-click="[threadAdding ? hideThreadAdd() : inputs.nothing, hideExpandingTextarea(), getLastVisiblePropositionInParagraph(node, paragraph, $event)]" style="padding-left: 1px">
        <li ng-repeat="proposition in paragraph.propositions track by $index"
            ui-tree-node
            ng-init="$first ? paragraph.owner = paragraph.propositions[$index].author : inputs.nothing"
            ng-mouseover="proposition.preSelected = true;"
            ng-mouseleave="[proposition.preSelected = false]"
            ng-click="[hideExpandingTextarea(), selectedProposition.textSide = true, selectNode(node),

                      selectLeft(proposition, paragraph)]"
            ng-if="!proposition.rejoined && proposition[userId] !== 'hidden'"
            class="proposition">
          
          <span class="leftpropositionadder"
                ng-mouseover="[paragraph.leftMouseOver = true, paragraph.topMouseOver = false, paragraph.bottomMouseOver = false, paragraph.disableRightCursor = true]"
                ng-mouseleave="[paragraph.leftMouseOver = false, paragraph.disableRightCursor = false]"
                event-focus="click"
                ng-click="[
                  clearWithLeftAdder(),

                  clearPropositionInput(),
                  paragraph.topAdd = false,
                  paragraph.bottomAdd = false,
                  paragraph.leftAdd = true,
                  paragraph.leftMouseOver = false,
                  selectedParagraph.highlightAll = false,
                  selectedParagraph.markAll = false,
                  clearEditable()
                  ]"
                event-focus-id="{{leftAdderId}}"
                ng-if="$first"
                >
               <!--  get rid of selected proposition condition though it's to prevent left adds for others in the same paragraph -->
<!--             <span ng-mouseover="paragraph.disableRightCursor = true"
                  ng-mouseleave="paragraph.disableRightCursor = false"
                  class="cursor invisible-cursor">
            </span> -->
          </span>
      
            <span 
                      editable-span-ng-model
                      contenteditable="true"
                      id="{{leftAdderId}}"
                      class="right-textarea right-text left-text"
                      ng-mouseover="paragraph.disableRightCursor = true"
                      ng-mouseleave="paragraph.disableRightCursor = false"
                      placeholder="textarea"
                      ng-model="inputs.proposition"
                      ng-keyup="$event.keyCode === 13 && selectedProposition.dialogueSide !== true ? [proposition.propositionPreSelected = false, prepProposition(inputs.proposition, thread, paragraph)] : inputs.nothing;
                      (inputs.proposition === '' && $event.keyCode === 8) ? inputs.nothing : inputs.nothing;"
                      spellcheck="false"
                      style="color: black; padding-left: 1px;"
                      ng-if="selectedProposition.id === proposition.id && paragraph.leftAdd == true && $first"
                      >
            </span>
            <span ng-mouseover="paragraph.leftMouseOver = true" 
                  ng-mouseleave="paragraph.leftMouseOver = false"
                  event-focus="click"
                  ng-click="[
                    clearWithLeftAdder(),
                    clearPropositionInput(),
                    paragraph.topAdd = false,
                    paragraph.bottomAdd = false,
                    paragraph.leftAdd = true,
                    paragraph.leftMouseOver = false,
                    paragraph.disableRightCursor = true,
                    selectedParagraph.highlightAll = false,
                    selectedParagraph.markAll = false,
                    clearEditable()
                  ]"
                  event-focus-id="{{leftAdderId}}"
                  ng-class="{'visible-cursor': paragraph.leftMouseOver && proposition.preSelected && $first && !paragraph.leftAdd,
                             'invisible-cursor': !paragraph.leftMouseOver || !proposition.preSelected|| !$first}"
                  ng-if="$first"
                  class="cursor left-cursor">
            </span>
<!--             <span class="cursor invisible-cursor"
                  ng-click="paragraph.disableRightCursor = true" 
                  ng-if="$first">
            </span> -->
          <span 

                id="proposition{{proposition.id}}"
                ng-class="{ 'rejoinder': proposition.type === 'rejoinder',
                            'negation': proposition.type === 'negation',
                            'highlight': highlight.id === proposition.id || (selectedParagraph.highlightAll == true && selectedParagraph.paragraphId === paragraph.paragraphId),
                            'notowned': proposition.author !== userId && options.dimNotOwned,
                            'owned': proposition.author === userId && options.highlightOwned,
                            'mark': mark.id === proposition.id || (selectedParagraph.markAll == true && selectedParagraph.paragraphId === paragraph.paragraphId),
                            'owned-cursor': proposition.author === userId || (proposition.type === 'negation' && proposition.of.author === userId),
                            'textcursor': whatHasBeenClicked == proposition.id,
                            'rejoining': selectedProposition.id === proposition.id && !selectedProposition.dialogueSide && proposition.type === 'negation' && proposition.of.author === userId,
                            'updatecursor': this.contentEditable
                          }"
                ng-enter="[proposition.propositionPreSelected = false, updateProposition(node, paragraph, proposition)]"
                ng-mouseover="proposition.propositionPreSelected = true;"
                ng-mouseleave="proposition.propositionPreSelected = false;"
                ng-blur=""
                
                ng-click="
                
                    (proposition.author === userId && proposition.type !== 'negation' &&
                     whatHasBeenClicked !== proposition.id)
                    ?  [ 
                         clearEditable(),
                         selectNode(node),
                         selectParagraph(paragraph),
                         selectedParagraph = paragraph,
                         paragraph.topAdd = false,
                         paragraph.bottomAdd = false,
                         paragraph.leftAdd = false,
                         paragraph.disableRightCursor = true,
                         clearTopAndBottomHasFocus(),
                         hasRightFocus = proposition.id,
                         listenForDoubleClick(this, paragraph, proposition),
                       ]
                    :  ( (proposition.type !== 'negation' && proposition.author !== userId && whatHasBeenClicked !== proposition.id) ||
                        (proposition.type === 'negation' && proposition.of.author === userId)
                       )
                          ? [
                            selectNode(node),
                            selectParagraph(paragraph),
                            selectProposition(proposition),
                            selectedParagraph.highlightAll = false,
                            selectedParagraph.markAll = false,
                            mark.id = '',
                            highlight.id = '',
                            selectedProposition.textSide = true,
                            paragraph.topAdd = false,
                            paragraph.bottomAdd = false,
                            paragraph.leftAdd = false,
                            paragraph.disableRightCursor = true,
                            selectRight(proposition),
                            hasRightFocus = proposition.id,
                            $event.stopPropagation()
                            ]
                          : inputs.nothing"
                 
              

             
                class="proposition-text"
                ng-blur="[focusouteditable(this), paragraph.disableRightCursor = false]"
                
                >
            {{proposition.text}}
          </span><!-- {{proposition.id}} -->
          <span
            editable-span-ng-model
            id="{{proposition.id}}"
            title="{{proposition.id}}"
            class="right-text right-textarea"
            ng-if="selectedProposition.id === proposition.id && paragraph.topAdd != true && paragraph.bottomAdd != true && paragraph.leftAdd != true"
            ng-class="{'negation': (selectedProposition.author !== userId && selectedProposition.type !== 'blank' && selectedProposition.type !== 'negation') || (selectedProposition.type === 'negation' && selectedProposition.author === userId)}"
            ng-click="[paragraph.disableRightCursor = true, hasRightFocus = proposition.id ]"
            ng-mouseover="paragraph.disableRightCursor = false"
            ng-model="inputs.proposition"
            ng-keyup="
                $event.keyCode === 13 && selectedProposition.dialogueSide != true ? [$event.preventDefault(), proposition.propositionPreSelected = false, paragraph.disableRightCursor = false, prepProposition(inputs.proposition, thread, paragraph)] : inputs.nothing;
                (($event.keyCode === 8 && mark.id === proposition.id && mark.marked === true && selectedProposition.author === userId) || ($event.keyCode === 8 && inputs.proposition === '' && selectedProposition.type === 'blank')) ? deleteProposition() : inputs.nothing;
                ($event.keyCode === 8 && highlight.id === proposition.id && highlight.highlit === true && proposition.author === userId) ? markProposition(proposition) : inputs.nothing;
                (inputs.proposition === '' && $event.keyCode === 8 && proposition.type !== 'negation' && proposition.author === userId) ? highlightProposition(node, paragraph, proposition) : inputs.nothing;
                ($event.keyCode === 8 && selectedParagraph.markAll == true) ? deleteAllPropositions() : inputs.nothing;
                ($event.keyCode === 8 && selectedParagraph.highlightAll == true) ? markAllPropositions(proposition) : inputs.notting;
                (inputs.proposition === '' && $event.keyCode === 8 && ((paragraph.propositions[0].type !== 'blank' && paragraph.propositions[0].author !== userId))) ? highlightAllPropositions(node, paragraph, proposition) : inputs.nothing;"
            spellcheck="false"
            contenteditable="true"
            style="color: black; padding-left: 1px;"
            ng-blur="this.contentEditable = true; ">
              </span>

              <!-- Need focus variables for left and right -->
              
          <span class="cursor"
                ng-class="{'visible-cursor': (proposition.preSelected && !paragraph.leftMouseOver && !paragraph.disableRightCursor && hasRightFocus !== proposition.id),
                           'invisible-cursor': !proposition.preSelected || paragraph.leftMouseOver || paragraph.disableRightCursor || hasRightFocus === proposition.id}"

                ng-click="[selectProposition(proposition), paragraph.disableRightCursor = true, selectedProposition.textSide = true, paragraph.topAdd = false, paragraph.bottomAdd = false, paragraph.leftAdd = false]"
                event-focus="click"
                event-focus-id="{{proposition.id}}"></span>

        </li>
      </ol>
    </div>
    <div ng-if="paragraph.bottomAdd == true && hasBottomFocus == paragraph.paragraphId"
         class="paragraph addparagraph"
         ng-class=""
         style="padding-top: 6px;">
      <div class="proposition">
<!--         <span class="proposition-text">
        </span> -->
<!--         <span 
              ng-if="paragraph.bottomAdd && hasBottomFocus == paragraph.paragraphId"
              class="cursor invisible-cursor"
              >
        </span> -->
<!--         <span class="cursor invisible-cursor">
        </span> -->
        <span 
                  ng-class=""
                  editable-span-ng-model
                  contenteditable="true"
                  id="{{paragraph.paragraphId}}"
                  title="{{paragraph.paragraphId}}"
                  class="right-textarea right-text"
                  
                  placeholder="textarea"
                  ng-model="inputs.proposition"
                  ng-keyup="$event.keyCode === 13 && selectedProposition.dialogueSide != true ? [proposition.propositionPreSelected = false, prepProposition(inputs.proposition, thread, paragraph)] : inputs.nothing;  (inputs.proposition === '' && $event.keyCode === 8) ? paragraph.topAdd = false : inputs.nothing; "
                  spellcheck="false"
                  style="color: black; padding-left: 12px; background-color: white"
                  ></span>
      </div>
    </div>
    <div class="bottomparagraphadder"
         ng-class="{'blackline': paragraph.bottomMouseOver === true}"
         ng-mouseover="paragraph.bottomMouseOver = true; paragraph.topMouseOver = false"
         ng-mouseleave="paragraph.bottomMouseOver = false"
         ng-click="[selectParagraph(paragraph),
                    selectNode(node), clearTopAndBottomHasFocus(), clearWithBottomAdder(paragraph), selectedParagraph.highlightAll = false, selectedParagraph.markAll = false, clearPropositionInput(), paragraph.bottomMouseOver = false, paragraph.topAdd = false, clearEditable()]"
         
         ng-if="(paragraph.propositions[0].type !== 'blank') && hasBottomFocus !== paragraph.paragraphId"
         
         
         >
    </div>
  </li>
</ol>

<!-- sub-nodes -->
<ol ui-tree-nodes
    ng-model="node.children"
    style="list-style-type: none; list-style: none; padding-left: 10px"
    class="angular-ui-tree-nodes">
  <li ng-repeat="node in node.children"
      ui-tree-node
      ng-click="selectNode(node); $event.stopPropagation();">
    <nd-editor-text-renderer></nd-editor-text-renderer>
  </li>
</ol>

