  <div style="overflow-x: hidden">
    <div style="text-align: center; background-color: #484848; overflow-x: hidden">
      <div class="navbar" style="font-size: 16px; text-align: center">

        <form role="form" class="form-inline" ng-submit="authCtrl.login()">
          <h2 style="display: inline; margin-right: 70px; color: white">Notional Documents</h2>

          <div class="form-group">
            <!-- <label for="inputEmail" class="col-sm-2 col-form-label" style="color: white">Login:</label> -->
              <div class="col-sm-10">
                <input type="email" style="font-size: 16px; padding-right: 0px; min-width: 225px" class="form-control" placeholder="Email" id="inputEmail" ng-model="authCtrl.user.email" required autocomplete="on"/>
              </div>
          </div>

          <div class="form-group">
            <div class="col-sm-10" style="margin-right: .75rem; padding-left: 0px">
              <input type="password" class="form-control" style="font-size: 16px; min-width: 225px;"placeholder="Password" id="inputPassword" ng-model="authCtrl.user.password" required autocomplete="on"/>
            </div>
          </div>
          <div class="form-group">
            <div class="ml-auto">
              <button class="btn btn-default" style="font-size: 16px; background-color: white" type="submit">Log In </button>
              <button class="btn btn-default" type="button" ng-click="authCtrl.register()" style="font-size: 16px; background-color: white" >Register </button>
            </div>
          </div>
        </form>
      </div>
    </div>

<div class="login-wrapper">
  <div class="jumbotron" style="width: 100%">
   <!--  <h3 style="text-align: center;">Proof-of-concept integration of messaging and word processing</h3> -->


    <!-- <h3 typed type-speed="40">Notional Documents</h3> -->
      <img class="overviewimage" src="/assets/images/overview.gif" style="" loop=infinite />
        <div style="font-size: 16px">
          

          <h3 style="text-align: center; margin: 10px; margin-top: 10px">Messaging & Word Processing Integration</h3>

          <p>A proof of concept for applying propositional logic to communication over text. </p>

          <ul>

            

            <li>Collaboratively draft and edit at close to messaging speed</li>
            
            <li>Develop paragraphs rationalistically by discussion and debate</li>
            
            <li>Non-blocking collaboration: share the document's outline and settle with an unlimited number of co-authors over entire paragraphs of ideas, rather than individual words (in development)</li>
            
            <li>Document drafting without the need to view the document (nearly there)</li>
            
          </ul>

        <div style="text-align: center; overflow-x: hidden">
          <button style="background-color: white; text-align: center">Visit the repo on
            <img style= "width: 100px; height: auto;" src="/assets/images/github-logo.jpg"/>
          </button>
        </div>
          
        </div>


        </div>

          <div class="contact-email">
            Contact:
            <br>
            notionaldocuments@gmail.com
          </div>

      
      
    </div>

    <div ng-show="authCtrl.errorMessage">
      <div class="alert alert-danger">
        {{ authCtrl.errorMessage }}
      </div>
    </div>

</div>
<!--   </div>


</div> -->
