<nd-readonly-shield ng-if="!loggedIn()"></nd-readonly-shield>

<div class="container "
     ng-init="initialize"
     ng-click="blurEdit()"
     style=""
     spellcheck="false">
  <div class="row"
       id="firstrow">
    <span class="app-title"
          ng-click="clearWithAdder()"> {{ title ? title : ''}} </span>

    <div id="myNav"
         class="overlay"
         ng-click="closeNav()">
      <!-- <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a> -->
      <div class="overlay-content">
        <a href="javascript:void(0)"
           ng-click="closeNav()">Click, type, and enter with a . to send out a sentence as a message, and also place the
                                 sentence into the common document.</a>

        <a href="javascript:void(0)"
           ng-click="closeNav()">Click, type, and enter with a ! to send out a remark upon an incoming sentence, or to
                                 dispel another's remark on one of your sentences. Remarking on a sentence will
                                 underline it before it is sent out, marking up the sentence and becoming part of a
                                 message thread. Dispelling a remark adds to the thread, and replaces the remark in the
                                 document.</a>

        <a href="javascript:void(0)"
           ng-click="closeNav()">Click, type, and enter with a ? to ask a question. It will introduce a new topic for
                                 threads, as well as a new section of the document. It is possible that any question can
                                 be given a counterpart noun phrase suitable for draft section headings for the
                                 paragraphs that will contain its answer (e.g. "Where is Paris?" could be translated
                                 into "Location of Paris").</a>
      </div>
    </div>


    <div ng-if="!loggedIn()">
      <div style="text-align: right">
        <button class="btn btn-primary"
                ng-click="openLoginModal()">
          Login
        </button>
        <button class="btn btn-default"
                ng-click="openRegisterModal()">
          Register
        </button>
      </div>
    </div>
    <div ng-if="loggedIn()">
      <!-- Toolbar -->
      <!-- Should be its own directive -->
      <div style="text-align: right">

        <!-- <input type="text" id="copy-input" value="lkjlkjkljkjlj;jkj"/>
        <input type="button" id="copy-button" value="Copy"> -->

        <button class="btn btn-dark"
                ng-click="openProfileModal()">Email Goes Here
        </button>
<!--         User Id: {{userId}} ST: {{selectedThread.threadId}} SP: {{selectedProposition.id}} Tosetlaterremarkid {{toSetLater.remarkId}} Tosetlaterthreadid: {{toSetLater.threadId}} Has Chat Focus: {{hasChatFocusId}} Has Chat Focus ThreadId: {{hasChatFocusThreadId}} ThreadAdding: {{threadAdding}} WhatHasBeenClicked {{whatHasBeenClicked}} Stop Toggle: {{stopToggle}} Prop Preselected: {{proposition.preSelected}} Paragraph Not Left Mouseover: {{!paragraph.leftMouseOver}} Not Paragraph Disable Right Cursor: {{!paragraph.disableRightCursor}} Not Right Focus Equaling Prop Id: {{hasRightFocus !== proposition.id}} -->Book eh: {{bookId}} Book Uid: {{book.uid}}
        <button class="btn cog"
                ng-click="openOptionsModal()">
          <i class="fa fa-cog"></i>
        </button>
        <button class="btn"
                ng-click="invert()">
          <i class="fas fa-lightbulb"></i>
          >
        </button>
        <button class="btn"
                ng-click="openMyBooksModal()">
          <i class="fa fa-bookmark"></i>
        </button>
        <button class="btn"
                ng-click="openLibraryModal()">
          <i class="fa fa-book"></i>
        </button>
        <button class="btn"
                ng-click="openNewBookModal()">
          <i class="fa fa-plus"></i>
        </button>
        <!--
        <button class="btn"
                ng-class="{ 'btn-light': !options.highlightOwned,
                            'btn-dark': options.highlightOwned
                          }"
                ng-click="options.highlightOwned = !options.highlightOwned">
          <i class="fa fa-search"></i>
        </button>
        -->
        <button class="btn btn-secondary help"
                ng-click="openNav()">
          <i class="fa fa-asterisk"></i>
        </button>

        <a download="export.txt" style=""
           id="downloadlink">
          <button class="btn btn-primary help downloadbutton">
            <i class="fa fa-file-text-o"></i>
          </button>
        </a>

        <button class="btn btn-dark signout"
                ng-click="logout()">
          <i class="fa fa-sign-out"></i>
        </button>
        <div class="text-center">
          <a id="treeicon"
             data-toggle="modal"
             data-target="#treemodal"
             href="#treemodal"
             style="display: none;">

          </a>

          <!-- Modal -->
          <div id="treemodal"
               class="modal fade"
               role="dialog"
               style="color:white">
            <div class="modal-dialog-lg">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-body"
                     style="background-color: rgb(9,13,14)"></div>
                <!--               <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div> -->
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="row mainview"
       id="mainview">
    <!--       <div class="col-md-2 topiclist" style="padding: 7px">
            <form role="form">
              <div class="form-group">
                <input ng-model="keyword" placeholder="Navigate" onfocus="this.placeholder = ''" class= "form-control navigate-box"  />
              </div>
            </form>
            <div class="library" style=" padding: 5px" ng-click="selectedProposition.dialogueSide = true;">
              <div style="text-align: center; border-bottom: 1px solid white;">
                <strong style="">Library</strong> <span class="glyphicon glyphicon-menu-down pull-right"></span>
              </div>
              <div ng-repeat="book in library" ng-click="selectBook(book)">
                <ul class="booklist">
                  <li style="" class="">{{book.title}}</li>
                </ul>
              </div>
            </div>
            <br>
          </div> -->

    <div class="col-md-8"
         ng-click=""
         id="thetext">


      <div ui-tree="treeOptions"
           data-drag-enabled="false"
           id="tree-root"
           class="angular-ui-tree textlist"
           ng-click="[hideExpandingTextarea(), clearTopAndBottomHasFocus(), selectedParagraph.highlightAll = false, selectedParagraph.markAll = false, selectedProposition.dialogueSide = false, selectedThread = {}, $event.stopPropagation()]">

        <ol ui-tree-nodes
            ng-model='data'
            style=""
            id="bookdata"
            class="angular-ui-tree-nodes"
            ng-click="">

          <li ng-repeat="node in data | orderBy: 'class'"
              ui-tree-node
              ng-class="{ mousedovernode: node.mouseOver === true }"
              ng-mouseover="node.mouseOver = true;"
              ng-mouseleave="node.mouseOver = false;"
              class="angular-ui-tree-node node"
              ng-click="">

            <nd-editor-text-renderer></nd-editor-text-renderer>

          </li>
        </ol>
      </div>
      <div style="height: 10px;"
           ng-mouseover="mouseOverTextBlurrer()"
           ng-mouseleave="mouseLeaveTextBlurrer()"
           ng-click="blurText()"
           id="textblurrer"></div>
    </div>
    <div class="col-md-4"
         ng-click=""
         id="dialoguepane">


      <div ui-tree
           id="dialoguelist"
           data-drop-enabled="false"
           data-drag-enabled="false"
           data-empty-placeholder-enabled="false"
           class="angular-ui-tree dialoguelist">
        <ol ui-tree-nodes
            ng-model='data[0].dialogue'
            style="list-style-type: none; padding-left: 0"
            class="angular-ui-tree-nodes">
          <li ng-repeat="thread in data[0].dialogue | orderBy: 'messageNumber'"
              ng-if="thread.hidden !== true"
              ui-tree-node
              class="angular-ui-tree-node">
            <nd-editor-dialogue-renderer></nd-editor-dialogue-renderer>
          </li>
        </ol>
      </div>

    </div>
  </div><!-- Row -->
  <div class="row"
       style="">
    <div class="col-md-8"></div>
    <div class="col-md-4"
         id="dialogueblurrer"
         style="height: 10px; border-bottom: 1px solid black; cursor: pointer"
         ng-mouseover="mouseOverDialogueBlurrer()"
         ng-mouseleave='mouseLeaveDialogueBlurrer()'
         ng-click="selectedProposition.dialogueSide = true; blurDialogue();">

      <!--         <div>
                <form role='form' class="form-group" ng-submit="prepProposition(inputs.chatProposition)" novalidate name='form'>

                  <div class="">
                    <span class="input-group-btn" >
                      <button id="sendbutton" class='btn btn-default' ng-enable='form.$valid' style="display: none">
                        <strong>Send</strong>
                      </button>
                    </span>
                  <input type='text' class="form-control" required ng-max='500' id="chatinput" ng-model='inputs.chatProposition' ng-keyup="$event.keyCode === 13 ? prepProposition(inputs.chatProposition) : inputs.blah" style="height: 39px; font-size: 16px">
                  </div>

                </form>
              </div>
       -->
    </div>
  </div><!-- Row -->

</div><!-- Controller -->
