<nd-readonly-shield ng-if="!loggedIn()"></nd-readonly-shield>
<div class="container "
     ng-init="initialize"
     ng-click="blurEdit()"
     style=""
     spellcheck="false">
  <div class="row"
       id="firstrow"
       style="line-height: normal">
    <span class="app-title"
          ng-click="clearWithAdder()"> {{ title ? title : ''}} </span>
    <div id="myNav"
         class="overlay"
         ng-click="closeNav()">
      <div class="overlay-content">
        <a href="javascript:void(0)"
           ng-click="closeNav()">Some text</a>
        <a href="javascript:void(0)"
           ng-click="closeNav()">More text</a>
        <a href="javascript:void(0)"
           ng-click="closeNav()">Last paragraph of text.</a>
      </div>
    </div>
    <div ng-if="!loggedIn()">
      <div style="text-align: right">
        <button class="btn btn-primary"
                ng-click="openLoginModal()">
          Login
        </button>
        <button class="btn btn-default"
                ng-click="openRegisterModal()">
          Register
        </button>
      </div>
    </div>
    <div ng-if="loggedIn()">
      <div style="text-align: right">
        <!-- <input type="text" id="copy-input" value="lkjlkjkljkjlj;jkj"/>
        <input type="button" id="copy-button" value="Copy"> -->
        <button class="btn btn-dark  menubutton"
                ng-click="openProfileModal()">Email Goes Here
        </button>





        <button class="btn cog menubutton"
                ng-click="openOptionsModal()">
          <i class="fa fa-cog"></i>
        </button>
        <button class="btn menubutton"
                ng-click="invert()">
          <i class="fas fa-lightbulb"></i>
          >
        </button>
        <button class="btn menubutton"
                ng-click="openMyBooksModal()">
          <i class="fa fa-bookmark"></i>
        </button>
        <button class="btn menubutton"
                ng-click="openLibraryModal()">
          <i class="fa fa-book"></i>
        </button>
        <button class="btn menubutton"
                ng-click="openNewBookModal()">
          <i class="fa fa-plus"></i>
        </button>
        <!--
        <button class="btn"
                ng-class="{ 'btn-light': !options.highlightOwned,
                            'btn-dark': options.highlightOwned
                          }"
                ng-click="options.highlightOwned = !options.highlightOwned">
          <i class="fa fa-search"></i>
        </button>
        -->
        <button class="btn btn-secondary help menubutton"
                ng-click="openNav()">
          <i class="fa fa-asterisk"></i>
        </button>
        <a download="export.txt" style="background-color: white"
           id="downloadlink">
          <button class="btn btn-primary help downloadbutton menubutton">
            <i class="fa fa-file-text-o"></i>
          </button>
        </a>
        <button class="btn btn-dark signout menubutton"
                ng-click="logout()">
          <i class="fa fa-sign-out"></i>
        </button>
        <div class="text-center">
          <a id="treeicon"
             data-toggle="modal"
             data-target="#treemodal"
             href="#treemodal"
             style="display: none;">
          </a>
          <div id="treemodal"
               class="modal fade"
               role="dialog"
               style="color:white">
            <div class="modal-dialog-lg">
              <div class="modal-content">
                <div class="modal-body"
                     style="background-color: rgb(9,13,14)"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mainview"
       id="mainview">
    <!--       <div class="col-md-2 topiclist" style="padding: 7px">
            <form role="form">
              <div class="form-group">
                <input ng-model="keyword" placeholder="Navigate" onfocus="this.placeholder = ''" class= "form-control navigate-box"  />
              </div>
            </form>
            <div class="library" style=" padding: 5px" ng-click="selectedProposition.dialogueSide = true;">
              <div style="text-align: center; border-bottom: 1px solid white;">
                <strong style="">Library</strong> <span class="glyphicon glyphicon-menu-down pull-right"></span>
              </div>
              <div ng-repeat="book in library" ng-click="selectBook(book)">
                <ul class="booklist">
                  <li style="" class="">{{book.title}}</li>
                </ul>
              </div>
            </div>
            <br>
          </div> -->
    <div class="col-md-9"
         ng-click=""
         id="thetext">
      <div ui-tree="treeOptions"
           data-drag-enabled="false"
           id="tree-root"
           class="angular-ui-tree textlist"
           ng-click="[hideExpandingTextarea(), clearTopAndBottomHasFocus(), selectedParagraph.highlightAll = false, selectedParagraph.markAll = false, selectedProposition.dialogueSide = false, selectedThread = {}, hasRightFocus.id = '', $event.stopPropagation()]">
        <ol ui-tree-nodes
            ng-model='data'
            style=""
            id="bookdata"
            class="angular-ui-tree-nodes"
            ng-mouseover="lightUpLastVisiblePropositionInBook(data[0], $event)"
            ng-mouseleave="blurLightUpLastVisiblePropositionInBook(data[0], $event)"
            ng-click="getLastVisiblePropositionInBook(data[0], $event)">
          <li ng-repeat="node in data | orderBy: 'class'"
              ui-tree-node
              ng-class="{ mousedovernode: node.mouseOver === true }" 
              class="angular-ui-tree-node node"
              id="{{node.nodeId}}"
              >
            <nd-editor-text-renderer></nd-editor-text-renderer>
          </li>
        </ol>
      </div>
      <div style="height: 10px;"
           ng-mouseover="mouseOverTextBlurrer()"
           ng-mouseleave="mouseLeaveTextBlurrer()"
           ng-click="blurText()"
           id="textblurrer"></div>
    </div>
    <div class="col-md-3"
         ng-click=""
         id="dialoguepane">
      <div ui-tree
           id="dialoguelist"
           data-drop-enabled="false"
           data-drag-enabled="false"
           data-empty-placeholder-enabled="false"
           class="angular-ui-tree dialoguelist">
        <ol ui-tree-nodes
            ng-model='data[0].dialogue'
            style="list-style-type: none; padding-left: 0"
            class="angular-ui-tree-nodes">
          <li ng-repeat="thread in data[0].dialogue | orderBy: 'messageNumber'"
              ng-if="thread.hidden !== true"
              ui-tree-node
              class="angular-ui-tree-node">
            <nd-editor-dialogue-renderer></nd-editor-dialogue-renderer>
          </li>
        </ol>
      </div>
    </div>
  </div><!-- Row -->
  <div class="row"
       style="">
    <div class="col-md-9"></div>
    <div class="col-md-3"
         id="dialogueblurrer"
         style="height: 10px; border-bottom: 1px solid black; cursor: pointer"
         ng-mouseover="mouseOverDialogueBlurrer()"
         ng-mouseleave='mouseLeaveDialogueBlurrer()'
         ng-click="selectedProposition.dialogueSide = true; blurDialogue();">
    </div>
  </div><!-- Row -->
</div><!-- Controller -->
