<nd-readonly-shield ng-if="!loggedIn()"></nd-readonly-shield>
<div class="container "
     ng-init="initialize"
     ng-click="blurEdit()"
     style=""
     spellcheck="false">
  <div class="row"
       id="firstrow"
       ng-class="{titled: title}"
       ng-click="clearDrag()"
       style="line-height: normal;">
    <!--     <span class="app-title"
              ng-click="clearWithAdder()"> {{ title ? title : ''}} </span> -->
    <div id="myNav"
         class="overlay"
         ng-click="closeNav()">
      <div class="overlay-content">
        <a href="javascript:void(0)"
           ng-click="closeNav()">Some text</a>
        <a href="javascript:void(0)"
           ng-click="closeNav()">More text</a>
        <a href="javascript:void(0)"
           ng-click="closeNav()">Last paragraph of text.</a>
      </div>
    </div>
    <div ng-if="!loggedIn()">
      <div style="text-align: right">
        <button class="btn btn-primary"
                ng-click="openLoginModal()">
          Login
        </button>
        <button class="btn btn-default"
                ng-click="openRegisterModal()">
          Register
        </button>
      </div>
    </div>
    <div ng-if="loggedIn()">
      <div>
        <span class="app-title"
              ng-click="clearWithAdder()">
          {{ title ? title : ''}}
        </span>
        <!-- <input type="text" id="copy-input" value="lkjlkjkljkjlj;jkj"/>
        <input type="button" id="copy-button" value="Copy"> -->
        <div class="pull-right" style="margin-top: 40px">

          <!-- {{selectedProposition.text}} -->

          <span ng-repeat="b in menuButtons">
            <span ng-if="b.key === 'users'">
              <button uib-popover-template="'connectedUsers.html'"
                      popover-trigger="mouseenter"
                      popover-placement="bottom"
                      uib-tooltip="{{ b.tooltip }}"
                      class="btn menubutton">
                <i ng-class="b.icon"></i>
                <span>{{ roomUsers.length }}</span>
              </button>
            </span>
            <span ng-if="b.key !== 'users'">
              <button class="btn menubutton"
                      type="button"
                      ng-mouseenter="changeMenuButtonColor($index, true)"
                      ng-mouseleave="changeMenuButtonColor($index, false)"
                      uib-tooltip="{{ b.tooltip }}"
                      ng-style="{ 'background-color': b.bgColor }"
                      ng-click="onMenuClicked(b.key)">
                <i ng-class="b.icon"></i>
                <span ng-if="b.key === 'profile'">{{ profile.emailAddress }}</span>
              </button>
            </span>
          </span>

        </div>
        <div class="text-center">
          <a id="treeicon"
             data-toggle="modal"
             data-target="#treemodal"
             href="#treemodal"
             style="display: none;">
          </a>
          <div id="treemodal"
               class="modal fade"
               role="dialog"
               style="color:white">
            <div class="modal-dialog-lg">
              <div class="modal-content">
                <div class="modal-body"
                     style="background-color: rgb(9,13,14)"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mainview"
       id="mainview">
    <!--       <div class="col-md-2 topiclist" style="padding: 7px">
            <form role="form">
              <div class="form-group">
                <input ng-model="keyword" placeholder="Navigate" onfocus="this.placeholder = ''" class= "form-control navigate-box"  />
              </div>
            </form>
            <div class="library" style=" padding: 5px" ng-click="selectedProposition.dialogueSide = true;">
              <div style="text-align: center; border-bottom: 1px solid white;">
                <strong style="">Library</strong> <span class="glyphicon glyphicon-menu-down pull-right"></span>
              </div>
              <div ng-repeat="book in library" ng-click="selectBook(book)">
                <ul class="booklist">
                  <li style="" class="">{{book.title}}</li>
                </ul>
              </div>
            </div>
            <br>
          </div> -->
    <div class="col-md-9"
         ng-click=""
         id="thetext">
      <div ui-tree="treeOptions"
           data-drag-enabled="false"
           id="tree-root"
           class="angular-ui-tree textlist"
           ng-click="[hideExpandingTextarea(), clearTopAndBottomHasFocus(), selectedParagraph.highlightAll = false, selectedParagraph.markAll = false, selectedProposition.dialogueSide = false, selectedThread = {}, hasRightFocus.id = '', $event.stopPropagation()]">
        <ol ui-tree-nodes
            ng-model='data'
            style=""
            id="bookdata"
            class="angular-ui-tree-nodes"
            ng-mouseover="lightUpLastVisiblePropositionInBook(data[0], $event)"
            ng-mouseleave="blurLightUpLastVisiblePropositionInBook(data[0], $event)"
            ng-click="getLastVisiblePropositionInBook(data[0], $event)">
          <li ng-repeat="node in data | orderBy: 'class'"
              ui-tree-node
              ng-class="{ mousedovernode: node.mouseOver === true }"
              class="angular-ui-tree-node node"
              id="{{node.nodeId}}">
            <nd-editor-text-renderer></nd-editor-text-renderer>
          </li>
        </ol>
      </div>
      <div style="height: 10px;"
           ng-mouseover="mouseOverTextBlurrer()"
           ng-mouseleave="mouseLeaveTextBlurrer()"
           ng-click="blurText()"
           id="textblurrer"></div>
    </div>
    <div class="col-md-3"
         ng-click="clearDrag()"
         id="dialoguepane">
      <div ui-tree
           id="dialoguelist"
           data-drop-enabled="false"
           data-drag-enabled="false"
           data-empty-placeholder-enabled="false"
           class="angular-ui-tree dialoguelist">
        <ol ui-tree-nodes
            ng-model='data[0].dialogue'
            style="list-style-type: none; padding-left: 0"
            class="angular-ui-tree-nodes">
          <li ng-repeat="thread in data[0].dialogue | orderBy: 'messageNumber'"
              ng-if="thread.hidden !== true"
              ui-tree-node
              class="angular-ui-tree-node">
            <nd-editor-dialogue-renderer></nd-editor-dialogue-renderer>
          </li>
        </ol>
      </div>
    </div>
  </div><!-- Row -->
  <div class="row"
       ng-click="clearDrag()"
       style="">
    <div class="col-md-9">
      <span ng-if="draggedProposition.id" class="draggedproposition" style="padding-left: 10px; padding-right: 10px;">
        > {{draggedProposition.text}}
      </span>
    </div>
    <div class="col-md-3"
         id="dialogueblurrer"
         style="height: 10px; border-bottom: 1px solid black; cursor: pointer"
         ng-mouseover="mouseOverDialogueBlurrer()"
         ng-mouseleave='mouseLeaveDialogueBlurrer()'
         ng-click="selectedProposition.dialogueSide = true; blurDialogue();">
    </div>
  </div><!-- Row -->

  <script type="text/ng-template" id="connectedUsers.html">
    <span>{{ roomUsers.length }} users connected.</span>
    <div ng-repeat="u in roomUsers">{{ u }}</div>
  </script>
</div><!-- Controller -->

