@import "../assets/styles/theme";

html, body {
  font-family: 'Times New Roman', Times, serif;
  background: #fafafa;
  padding: 0;
  height: 100%;
  margin: 0;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}


a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* Space out content a bit */

html, body, body.ng-scope {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0 auto;
  outline: 0;
  height: 100vh;
  width: 100vw;
  font-size: 110%; // 100%
  vertical-align: baseline;
}

/*SVG CSS*/

.node {
  /*  background-color: rgba(0,0,0,.2);*/
}

.node circle {
  fill: #fff;
  stroke: rgb(31,137,195);
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
  width: 40px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 8px;
}

#iconspace{
  width: 80px;
  height: 57px;
  padding-bottom: 5px;
}

.library{
  border-top: 1px solid white;
  /*padding: 5px;*/
  cursor: pointer;
}

.librarytitle{
  text-align: center;
}

.topiclist{
  /*margin-top: 20px;*/
}

.nodeynode:nth-child(0){
  font-weight: bold;
}

/*  #ad1{
    border: 1px solid #212121;
    border-radius: 5px;
    padding: 5px 20px;
  }*/

.bold{
  font-weight: bold;
  cursor: pointer;
}

.login-wrapper > .jumbotron {
  background: none;
}



.tree-node.tree-node-content.dialoguetopic {
  margin: 0 auto;
  padding: 0;
}

.thread.ng-scope > p.ng-scope {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

tr.book-select:hover {
  cursor: pointer;
}

nav.nav {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 250px;
  width: 250px;
  height: 100vh;
  max-width: 250px;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
}

.body-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px 10px 10px 260px;
}

/*Tips modal*/

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.overlay-content {

  width: 100%;
  color: white;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*Buttons*/

.buttonscontainer{
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
