.thread-wrapper {
  margin: 10px;
}

.thread {
  &:hover {
    > p.ng-scope {
      background-color: #FFFFFF;
    }

    background-color: #FFFFFF;
  }
}

pre.expanding-clone {
  padding-left: 55px !important;
}

.remark {
  display: block;
  cursor: default;
  padding: 5px;

}

.firstthread {
  margin-top: 0px;
}
