.thread:hover > .tree-node.tree-node-content.dialoguetopic {
  background-color: #448AFF !important;
  color: #FFFFFF;
}

.thread:hover > p.ng-scope  {
  background-color: #FFFFFF;
}

.thread:hover {
  background-color: #FFFFFF;
}

