<div class="thread"
     id="{{thread.threadId}}"
     ng-click="[clearEditable()]">
  <div class="tree-node tree-node-content dialoguetopic"
       ng-class="{ 'topicselected': selectedNode.topic === thread.topic }"
       ng-mouseover="threadAddMouseover = thread.threadId"
       ng-mouseleave="threadAddMouseover = ''"

       ng-click="[threadAdding && !stopToggle ? [hideThreadAdd()] : inputs.nothing, !threadAdding && !stopToggle ? [selectedProposition.dialogueSide = true, selectThread(thread), showThreadAdd(thread)] : inputs.nothing, exitNgClick()]"
       style="margin-bottom: 7px"> {{thread.topic}}<!-- {{thread.threadId}} -->
       <span ng-if="threadAddMouseover == thread.threadId && threadAdding !== thread.threadId">+</span>
       <span ng-if="threadAddMouseover == thread.threadId && threadAdding === thread.threadId">-</span>
  </div>
  <p ng-if="threadAdding === thread.threadId">
    
      <textarea
      
        ng-show="thread.threadId == threadAdding"
        ng-hide="thread.threadId !== threadAdding"
        ng-model="inputs.chatProposition"
        class="expanding chatinput dialogueinput alignleft"
        id="addto{{thread.threadId}}"
        ng-keyup="$event.keyCode === 13 ? [selectNodeByClass(thread), setNewProp(), prepProposition(inputs.chatProposition, thread, selectedParagraph), inputs.chatProposition = '', 
      inputs.remarkselected = false, 
      selectedProposition.dialogueSide = false] : inputs.nothing"
        ng-class="{}"
        spellcheck="false"
        style="height: 18px; font-size: 16px; width: 100%; color: black; margin-top: 10px">
      </textarea>
  
  </p>

  <p ng-repeat="remark in thread.remarks track by $index" ng-if="threadAdding !== thread.threadId">
		<span class="tree-node tree-node-content remark"
          ng-class="{'remarkselected': selectedProposition.id === remark.id,
                     'deleted': remark.deleted === true,
                     'rejoinder': (selectedProposition.of.id === remark.id && selectedProposition.of.type === 'assertion' && selectedProposition.of.author === userId && (inputs.proposition.charAt(inputs.proposition.length-1) === '!'|| inputs.chatProposition.charAt(inputs.chatProposition.length-1) =='!')),
                     'alignright': remark.type === 'negation' && remark.text !== '- Paragraph deleted -',
                     'alignleft': (remark.type.some(['assertion','rejoinder','question','topic']) || remark.type === 'assertion' || remark.type === 'rejoinder' || remark.type === 'question' || remark.type === 'topic')
                     }"
          ng-click="[!remark.deleted ? [hideExpandingTextarea(), selectNodeByClass(thread), selectThread(thread), selectPropositionById(remark.id), selectedProposition.textSide = false] : inputs.nothing]"
          ng-mouseover="[remark.mouseOver = true, saveForLater(remark.id, thread)]"
          ng-mouseleave="remark.mouseOver = false;"
          style="cursor: pointer; margin-bottom: 7px; font-size: 16px; ">

		<span style=""
          ng-class="{'underline': remark.mouseOver === true,
                     'remarkupdated': remark.updated === true,
                     'negation': (selectedProposition.id === remark.id && selectedProposition.type === 'assertion' && selectedProposition.author != userId && (inputs.proposition.charAt(inputs.proposition.length-1) === '!'|| inputs.chatProposition.charAt(inputs.chatProposition.length-1) === '!'))
                    }">{{remark.text}}<!-- {{remark.id}} --></span>
		</span>


    <textarea
      title="{{ remark.id }}"
      ng-show="(remark.id === hasChatFocusId && thread.threadId === hasChatFocusThreadId)"
      ng-hide="(remark.id != hasChatFocusId || thread.threadId != hasChatFocusThreadId || selectedProposition.dialogueSide == false)"
      ng-model="inputs.chatProposition"
      class="expanding chatinput dialogueinput alignleft"
      id="{{remark.id}}{{thread.threadId}}"
      ng-keyup="$event.keyCode === 13 ? [prepProposition(inputs.chatProposition, thread, selectedParagraph), inputs.chatProposition = '', 
      hideExpandingTextarea(),
      inputs.remarkselected = false, 
      selectedProposition.dialogueSide = false] : inputs.nothing"
      ng-class="{'negation': inputs.proposition.charAt(input.length - 1) === '!'}"
      spellcheck="false"
      style="height: 18px; font-size: 16px; width: 100%; color: black; margin-top: 10px">
      </textarea>


  </p>
</div>
<br>