.thread-wrapper {
  margin: 10px;
}

.thread {
  &:hover {
    > p.ng-scope {
      background-color: #FFFFFF;
    }

    background-color: #FFFFFF;
  }
}

.remark {

  cursor: default;
  padding: 5px;

}

.firstthread {
  margin-top: 0px;
}
