<div class="modal-header">
  <div class="modal-title"
       id="modal-title-library"><i class="fa fa-book"></i>&nbsp; Library
  </div>
</div>

<div class="modal-body"
     id="modal-body-library">
  <table class="table">
    <thead>
    <tr>
      <th class="library-cell"
          style="max-width: 20px;">Add
      </th>
      <th class="library-cell">Topic</th>
      <th class="library-cell">Last Modified</th>
      <th class="library-cell">Date Created</th>
      <th class="library-cell"><i class="fa fa-trash"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(uid, book) in vm.books">
      <td class="library-cell">
        <button type="button"
                name="{{ uid }}"
                class="btn"
                ng-click="vm.toggleSelection(uid)"
                ng-class="{ 'btn-success': vm.selected.indexOf(uid) > -1,
                          'btn-light': vm.selected.indexOf(uid) === -1}">
          <i class="fa fa-check-circle-o"
             ng-if="vm.selected.indexOf(uid) > -1"></i>
          <i class="fa fa-circle-o"
             ng-if="vm.selected.indexOf(uid) === -1"></i>
        </button>
      </td>
      <td class="library-cell">
        {{ book.topic }}
      </td>
      <td class="library-cell">
        {{ book.lastModified * 1000 | date:'short' }}
      </td>
      <td class="library-cell">
        {{ book.dateCreated * 1000 | date:'short' }}
      </td>
      <td class="library-cell"
          style="text-align: right">
        <button class="btn"
                ng-class="vm.lastClickDelete === uid ? 'btn-danger' : 'btn-light'"
                ng-click="vm.lastClickDelete === uid ? vm.removeBook() : vm.lastClickDelete = uid"
                type="button">
          <i class="fa fa-times"></i>
          <span ng-if="vm.lastClickDelete === uid">Confirm Delete?</span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-secondary"
          ng-click="vm.dismiss()">
    Close
  </button>
</div>



