$backgroundColor: #ffffff;
$textColor: #212121;
//$primaryColor: #448aff;
$primaryColor: #ff0000;

html, body, body.ng-scope .light-theme {

  background-color: $backgroundColor;
  color: $textColor;

  .cog:hover {
    background-color: white;
  }

  .help:hover {
    background-color: #28a745;
  }

  .signout:hover {
    background-color: #c82333;
  }

  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .link {
    stroke: #ccc;
  }

  .paragraphbackdrop {
    background: #e2e2e2 !important;
    border: 1px solid $backgroundColor !important;
  }


  #firstrow {
    border-bottom: 1px solid $textColor;
  }

  .overlay-content {
    color: white;
  }

  .form-control {
    color: $textColor;
  }

  .paragraphplaceholder {
    color: #dbdbdb;
  }

  .textlist {
    border-top: 1px solid $backgroundColor;
    border-bottom: 1px solid $textColor;
    border-right: 1px solid #c9c9c9;
  }

  .chat-input-field {
    background-color: $backgroundColor;
  }


  .cursor {
    color: $backgroundColor !important;
  }

  .right-textarea {
    color: $textColor !important;
  }

  .ghostspan {
    color: #d0d0d0;
  }

  .negation {
    border-bottom: 1px solid $textColor !important;
  }

  .addparagraph {
    background-color: $backgroundColor;
  }

  .highlight {
    background-color: #545454;
  }

  .mark {
    color: $textColor;
  }

  .topichovered {
    color: $primaryColor;
  }

  .thread {
    border: 1px solid #aaaaaa;
    background-color: #fafafa;
  }

  .dialoguetopic {
    border-bottom: 1px solid #aaaaaa;
  }

  .thread:hover > .tree-node.tree-node-content.dialoguetopic {
    background-color: $primaryColor !important;
    color: $backgroundColor;
  }

  .thread:hover > p.ng-scope {
    background-color: $backgroundColor;
  }

  .thread:hover {
    background-color: $backgroundColor;
  }

  form input::-webkit-input-placeholder {
    color: $textColor !important;
  }

  .thread:hover > p {
    background-color: $backgroundColor;
  }

  .thread:hover {
    background-color: $backgroundColor;
  }

  nav.nav {
    background-color: #d9cec1;
  }

  h2.typewriter {
    font-family: "Times New Roman", serif;
    text-align: center;
  }

  .cursor {
    color: $textColor;
  }

  .notowned {
    color: #AAA;
  }

  .owned {
    //background-color: #212121;
    //color: white;
  }

}
